body{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}

.container{
    width: 90%;
    height: 95%;
    display: grid;
    align-content: center;
    grid-gap: 1%;
    grid-template-rows: 7% 65% 20% auto;
    grid-template-columns: 5% 5% 5% 64% 5% 5% 5%;
    background-color: rgb(163, 161, 161);
}

.title-bar{
    grid-column: 1/8;
    display: inline-flex;
    font-size: 2em;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ff8f00;
    border: 3px solid white;
    
}

.task-list{
    grid-column: 2/7;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.footer{
 
}

.task-container{
    grid-column: 2/6;
    width: 100%;
    height: 15%;
    
    
    
}

.task-description{
    display: inline-flex;
    background-color: #ffa000;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: 3px solid white;
    color: white;
}

.button-container{
    display: inline-flex;
    float: right;
    width: 25%;
    height: 100%;
    border-radius: 4px 25px;

    
}

.task-button{
    width: 100%;
    height: 100%;
    background-color: #ffb300;
    border-radius: 4px 25px;
    border: 3px solid white;
}

.dropdown-content{
    background-color: #f4511e; 
}

.dropdown-content li>a{
    color: white;
}