html{
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    background-color: white;

}

/************************************MATCH BODY **********/
body{
    height: 100%;
    min-height: 100%;
    background-color: #F2F2F2;
}

.match-container{
    width: 100%;
    height: 91%;
    position: relative;
    background-color: #F2F2F2;
}
/************************************TITLE**********/

.title-bar{
    width: 100%;
    height: 5rem;
    background-color: #A2D3DA;
    font-size: 3rem;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 1%;
    
}

.sub-title{
    height: 2.5rem;
    width: 100%;
    background-color: #A2D3DA;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid black;
}

/************************************MATCH SECTION **********/

.match-list{
    width: 85%;
    height: 90%; 
    font-size: 1.2em;
    overflow-y: auto;
    display: inline-flex;
    flex-direction: column;
    margin: 3% 7.5%;
    
}

/**********INDIVIDUAL MATCHES**********/
.goal-container{
    display: inline-flex;
    height: 15%;
    padding-bottom: 3%;   
}

.goal-description{
    display: inherit;
    background-color: #A2D3DA;
    width: 80%;
    padding: 0% 4%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    hyphens: auto;
    color: white;
    padding: 10%;
}

/**********INDIVIDUAL BUTTONS**********/

.button-container{
    display: inline-flex;
    width: 20%;
    height: 100%;
    

    
}
.goal-button{
    width: 100%;
    height: 100%;
    background-color: #FFE2A8;


}

.button-container > .dropdown-content {
    
    
    background-color: #FFE2A8; 
    
}

.button-container > .dropdown-content li {
    text-align: center;
}

.button-container > .dropdown-content li > a > i{
    float: none;
    margin: 0;
    
}

/************************************END - GOAL SECTION **********/



/* * { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font: 13px Helvetica, Arial;
} */
form {
    background: white;
    padding: 5px;
    position: absolute;
    bottom: 13px;
    width: 85%;
    /* margin-right: 4%; */
    margin: 0 auto;
}

form input { border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    color: black;
}
form button {
    width: 25%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    margin-left: 33%;
    margin-right: 33%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88%;
    color: black;
    overflow: auto;
    background-color: white;
    font-size: 1.3rem;
    margin-top: 5px;
}

#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: rgba(119, 178, 186, 0.35);
    color: black;
}
/*#messages {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 90%;*/
    /*height: 67%;*/
    /*color: black;*/
    /*overflow: scroll;*/
/*}*/

input#m{
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

button.btn.btn-small{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: rgb(119, 178, 186);
    font-weight: bold;
}




/************************************FOOTER**********/


.footer-container{
    height: 9%;
    border-top: 1px rgb(87, 87, 87) solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: #A2D3DA
}

nav{
    background-color: #A2D3DA;
    height: 100%;

}

.footer-items{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    
}

nav ul li{
    width: 25%;
}

.footer-items a i{
    font-size: 3rem;
    vertical-align: 100%;
}

/************************************END - FOOTER**********/





/**************************************************************/
/************************* Responsive *************************/
@media only screen and (min-width : 320px) {
    .match-container {
        height: 93%;
    }
    .title-bar {
        height: 2rem;
        font-size: 1.8rem;
        padding-top: 0%;
    }
    .sub-title {
        height: 1.5rem;
        font-size: 0.8rem;
        padding-top: 2px;
    }
    .match-list{
        height: 92%;
        margin: 0% 7.5%;
    }
    #messages {
        height: 85%;
        font-size: 1rem;
        margin-top: 5px;
    }
    form{
        bottom: 0;
    }
    form.row.valign-wrapper{
        margin-bottom: 5px;
    }
    input#m {
        font-size: 1rem;
        margin-bottom: 7px;
    }
    form button{
        margin-left: 10%;
    }
    button.btn.btn-small{
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        padding: 1px 10px;
        border: 5px;
    }
    .footer-container{
        height: 3.5rem;
    }
    .footer-items a i {
        font-size: 2rem;
        height: 35px;
        line-height: 35px;
    }
}

@media only screen and (min-width : 480px){
    .match-container {
        height: 86%;
    }
    .title-bar {
        height: 3rem;
        font-size: 2rem;
        padding-top: 0%;
    }
    .sub-title {
        height: 1.5rem;
        font-size: 0.9rem;
        padding-top: 2px;
    }
    .match-list{
        height: 84%;
        margin: 0% 7.5%;
    }
    #messages {
        height: 75%;
        font-size: 1.2rem;
        margin-top: 5px;
    }
    form{
        bottom: 0;
    }
    form.row.valign-wrapper{
        padding: 3px 5px;
    }
    input#m {
        font-size: 1.2rem;
        margin-bottom: 7px;
    }
    form button{
        margin-left: 10%;
    }
    button.btn.btn-small {
        margin: 0 auto;
        width: 80%;
    }
    .footer-container{
        height: 4.5rem;
    }
    .footer-items a i {
        font-size: 2.2rem;
        height: 40px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 600px){
    body{
        max-width: 600px;
        margin: 0 auto;
    }
    .match-container{
        height: 91%;
    }
    .title-bar{
        height: 5rem;
        font-size: 3rem;
    }
    .sub-title {
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .match-list{
        height: 90%;
        margin: 0% 7.5%;
    }
    #messages {
        height: 87%;
        font-size: 1.3rem;
        margin-top: 5px;
    }
    form{
        bottom: 13px;
    }
    form input { border: 0;
        padding: 10px;
    }
    form button {
        margin-left: 33%;
    }
    input#m{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    form.row.valign-wrapper{
        padding: 7px 5px;
        bottom: 5px;
    }
    button.btn.btn-small{
        font-size: 1.3rem;
        height: 36px;
        line-height: 36px;
    }
    .footer-container{
        height: 9%;
    }
    .footer-items a i{
        font-size: 3rem;
    }
}