
.dashboard-body{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #3b7d87;
}

.dashboard-container{
    width: 100%;
    height: 100%;
    border-radius: 0% 100% 0% 40%;
    background-color: white;
    display: grid;
    grid-gap: 1%;
    grid-template-rows: 10% 63% 15% 3% 3% 3% 3%;
    grid-template-columns: 3% 3% 3% 76% 3% 3% 3%;
    
    
}

.title-bar{
    grid-column: 1/8;
    display: inline-flex;
    font-size: 2em;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    
    
    
}

.goal-list{
    grid-column: 3/6;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}


.goal-container{
    display: inline-flex;
    grid-column: 2/6;
    height: 15%;
    padding-bottom: 3%;   
}

.goal-description{
    display: inherit;
    padding: 5% 3%;
    background-color: #3b7d87a8;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 0.75em;
    hyphens: auto;
    border: 3px solid #f5bd5a;
    color: white;
}

.button-container{
    display: inline-flex;
    margin-left: 5%;
    width: 25%;
    height: 100%;
    border-radius: 25px;
    

    
}
.goal-button{
    width: 100%;
    height: 100%;
    background-color: #ffc24e;
    border-radius: 25px;
    border: 3px solid white;

}

.dropdown-content{
    background-color: #3b7d87; 
    
}

.dropdown-content li>a{
    color: white;
    
}

.reminder{
    grid-column: 3/5;
    grid-row: 3/4;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0% 3%;
    background-color: #3b7d87a8;
    border-radius: 25px;
    font-size: 0.75em;
    hyphens: auto;
    border: 3px solid #f5bd5a;
    color: white;
    
}


.footer{
    grid-column:1/8;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: #3b7d87a8;
    grid-row: 4/7;
}

.footer-container{
    background-color: #3b7d87;
    width: 100%;
    height: 100%;


}


nav{
    height: 100%;
    background-color: #ffc24e;
    

}

.footer-items{
    width: 100%;
    
}

nav ul li{
    width: 25%;
}