html{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #A2D3DA;
}

.background{
    width: 100%;
    height: 100%;
    background-color: #A2D3DA;
}

.container{
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #F2F2F2;
}

.title-bar{
    width: 100%;
    height: 12%;
    position: relative;
    background-color: #F2F2F2;
}

.profilePicture{
    position: relative;
    
    
}

.profilePicture img{
    height: 20vh;
    width: 30vw;
}

.signUpForm{
    width: 70%;
    height: 50%;
    position: relative;
    top: 5%;
    background-color: white;
    padding: 5%;
    margin: auto;    
}

.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1%;
}



/*.signUpForm div.row{*/
    /*!*margin-bottom: 2%;*!*/
/*}*/

.row input[type=email],
.row input[type=text],
.row input[type=password]{
    margin-bottom: 2%;
}

.emailMsg,
.usernameMsg,
.pwdMsg{
    font-size: 0.8rem;
    color: darkgray;
}

.defaultColor{
    color: darkgray;
}

.validInput{
    color: green;
}

.invalidInput{
    color: red;
}

.emailMsg i,
.usernameMsg i,
.pwdMsg i{
    font-weight: bold;
    vertical-align: middle;
    padding-left: 3%;
}

.signUpForm button{
    margin-top: 10%;
    background-color: rgb(41, 135, 153);
    margin-bottom: 5%;
    /*pointer-events: none;*/
}