html{
    margin: 0;
    padding: 0;
    font-size: 10px;
    height: 100vh;
    background-color: white;
}

body{
    background-color: #F2F2F2;
    min-height: 100%;

}

.background{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.container{
    position: relative;
    width: 100%;
    height: 91%;
    background-color: #F2F2F2;
}

.title-bar{
    width: 100%;
    height: 7.5rem;
    background-color: #A2D3DA;
}

.title-bar ul{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title-bar a{
    color: white;
}

.title-bar i.material-icons{
    font-size: 3.5rem;
}

.profilePicture{
    position: relative;
    width: 14rem;
    margin: 5rem auto;
}

.profilePicture img{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.signUpForm{
    width: 86%;
    height: 60%;
    padding: 8%;    
    display: inline-block;
    border-radius: 8%;
}

.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1%;
}



/*.signUpForm div.row{*/
    /*!*margin-bottom: 2%;*!*/
/*}*/

.row input[type=email],
.row input[type=text],
.row input[type=password]{
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.emailMsg,
.usernameMsg,
.pwdMsg{
    font-size: 1rem;
    color: darkgray;
}

.defaultColor{
    color: darkgray;
}

.validInput{
    color: green;
}

.invalidInput{
    color: red;
    font-size: 1.1rem;
}

.emailMsg i,
.usernameMsg i,
.pwdMsg i{
    font-weight: bold;
    vertical-align: middle;
    padding-left: 3%;
}

.footer-container{
    height: 9%;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: #A2D3DA;
}

.signUpBtn{
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.2rem;
    width: 25%;
    border-radius: 10px;
    background-color: rgb(226, 190, 118);
}

a.btn.signUpBtn {
    background-color: rgb(226, 190, 118);
}

/************************* Responsive *************************/

@media only screen and (min-width: 600px){
    body{
        max-width: 600px;
        margin: 0 auto;
    }
}